auto-save-list
config.el
cmake-utils.el
*.*~
elpaca/
eshell
recentf
projectile-bookmarks.eld
.DS_Store
projectile.cache
bookmarks
org-persist/
projects
eln-cache
places
custom.el
#bookmarks#
.org-id-locations
org-roam.db
elpa/
